<ion-header>
  <ion-toolbar>
    <ion-title>to-nearby</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Entering with input</h3>
  <ion-item>
    <ion-label>Enter device ID:</ion-label>
    <ion-input type="text" [(ngModel)]="Device_ID"></ion-input>
  </ion-item>
  <ion-button (click)="inputId()">
    Go to Nearby
  </ion-button>
  <br>
  <h3>Entering with fixed device ID</h3>
  <ion-list>
    <ion-item>
      <ion-label>EE_01_01</ion-label>
      <ion-button (click)="EE_01_01()">
        Click me
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>D2_04_01</ion-label>
      <ion-button (click)="D2_04_01()">
        Click me
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>LB_04_01</ion-label>
      <ion-button (click)="LB_04_01()">
        Click me
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>MA_05_01</ion-label>
      <ion-button (click)="MA_05_01()">
        Click me
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>T4_06_01</ion-label>
      <ion-button (click)="T4_06_01()">
        Click me
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
