<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-title>Register and Login</ion-title>
  <ion-list>
      
    <ion-item (click)="login()">
      <ion-label>Login Page</ion-label>
    </ion-item>

    <ion-item (click)="register()">
      <ion-label>Register Page</ion-label>
    </ion-item>

  </ion-list>

  <br><br>
  <ion-title>Nearby Dispenser</ion-title>
  <ion-list>
    <ion-item (click)="nearby()">
      <ion-label>Get Nearby Machine</ion-label>
    </ion-item>
  </ion-list>

  <br><br>
  <ion-title>Maintenance Progress</ion-title>
  <ion-list>
      <ion-item (click)="mtProgress()">
        <ion-label>Maintenance Progress</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
