<ion-header>
  <ion-toolbar>
    <ion-title>testDoubleJSON</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- <ion-item>
    Current Device ID = {{item.Device_ID}} <br>
    Current Status = {{item.Status}} <br>
    Current Building = {{item.Building}} <br>
    Current Position = {{item.Position}} <br>
    Current Picture URL = {{item.Picture}} <br>
    Current Hot Temperature = {{item.HotTemp}} <br>
    Current Warm Temperature = {{item.WarmTemp}} <br>
    Current Cold Temperature = {{item.ColdTemp}}
</ion-item> -->

<ion-list>
  <ion-item *ngFor="let item of result">
    Device ID = {{item.Device_ID}} <br>
    Status = {{item.Status}} <br>
    Building = {{item.Building}} <br>
    Position = {{item.Position}} <br>
    Picture URL = {{item.Picture}} <br>
    Hot Temperature = {{item.HotTemp}} <br>
    Warm Temperature = {{item.WarmTemp}} <br>
    Cold Temperature = {{item.ColdTemp}}
  </ion-item>
  
</ion-list>

</ion-content>
