<ion-header>
  <ion-toolbar>
    <ion-title>DISPENSER LIST</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of items">
      Device_ID: {{item.Device_ID}} <br>
      Building: {{item.Building}} <br>
      Position: {{item.Position}} <br>
      Type: {{item.Type}} <br><br>
    </ion-item>
  </ion-list>

  <!-- WITH RAW DATA -->
  <!-- <ul>
    <li *ngFor="let item of items">
      Device_ID: {{item.Device_ID}} <br>
      Building: {{item.Building}} <br>
      Position: {{item.Position}} <br>
      Type: {{item.Type}}
      <br><br>
      Upload Time: {{item.UploadTime}} <br>
      Hot Temperature: {{item.HotTemp}} <br>
      Warm Temperature: {{item.WarmTemp}} <br>
      Cold Temperature: {{item.ColdTemp}} <br>
      <br><br>
    </li>
  </ul> -->
</ion-content>