<ion-header>
  <div class="header">

    <div class="topleft">
      <img src="assets/icon/favicon.png" style="max-height: 40px; max-width:76px">
    </div>

    <div class="topright">
      <img src="assets/icon/rectangle@3x.png" height="30px" width="30px">
    </div>

    <div class="center">
      <img src="assets/icon/group-6.png" height="54px" width="54px">
      <p class="Text">Maintenace records</p>
    </div>

  </div>

</ion-header>

<ion-content>
  <p class="Month">February</p>

  <ion-item>
    <ion-avatar>
      <ion-label class="ion-text-center">
        <p>20</p>
        <img src="assets/icon/rectangle_3@3x.png">
      </ion-label>
    </ion-avatar>
    <ion-label>
      <h4>Problem name</h4>
      <p>Repair note</p>
    </ion-label>
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <ion-label class="ion-text-center">
        <p>20</p>
        <img src="assets/icon/rectangle_3@3x.png">
      </ion-label>
    </ion-avatar>
    <ion-label>
      <h4>Unable to water</h4>
      <p>Water level device fault update</p>
    </ion-label>
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-item>
  <p class="Month">January</p>
  <ion-item>
    <ion-avatar>
      <ion-label class="ion-text-center">
        <p>20</p>
        <img src="assets/icon/rectangle_3@3x.png">
      </ion-label>
    </ion-avatar>
    <ion-label>
      <h4>Unable to water</h4>
      <p>Water level device fault update</p>
    </ion-label>
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <ion-label class="ion-text-center">
        <p>20</p>
        <img src="assets/icon/rectangle_3@3x.png">
      </ion-label>
    </ion-avatar>
    <ion-label>
      <h4>Unable to water</h4>
      <p>Water level device fault update</p>
    </ion-label>
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <ion-label class="ion-text-center">
        <p>20</p>
        <img src="assets/icon/rectangle_3@3x.png">
      </ion-label>
    </ion-avatar>
    <ion-label>
      <h4>Unable to water</h4>
      <p>Water level device fault update</p>
    </ion-label>
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-item>

</ion-content>