<ion-content>

  <!-- header -->
  <div class="header">
    <div class="overlay header-inside">
      
      <div class="header-inside--icon-left float-left">
        <img 
          class="icon"
          src="assets/acuo-icons/rectangle_2@3x.png" 
          alt="acuo-icons1"
        >
      </div>
      
      <div class="header-inside--title-center float-left">
        <img 
          class="icon avatar"
          src="assets\acuo-avatar\group-6@3x.png" 
          alt="acuo-avatar1"
        >
        <h5>Nearby Water Dispenser</h5>
      </div>
      
      <div class="header-inside--icon-right float-left">
        <img 
          class="icon"
          src="assets\cancel\rectangle@3x.png" 
          alt="acuo-cancel1"
        >
      </div>

    </div>
  </div>

  <!-- estimate -->
  <div style="
    margin: 20px 40px;
    padding: 30px 0;
    border-radius: 5px;
    text-align: center;
    background-color: #EDEDED;
    color: #444444;
    overflow: auto;">
    <div>
      <img style="
        max-height: 100px;
        width: auto;"
        src="assets\cup-coffee\rectangle_3@3x.png" alt="alert">
    </div>
    <div style="
      margin-top: 15px">
      <b>Report submitted</b>
    </div>
    <div style="
      margin-top: 10px">
      Estimated completion time: 5 hours later
    </div>
  </div>

  <!-- progress -->
  <div style="
    margin: 20px 40px;
    padding: 30px auto">
    
    <!-- content -->
    <div style="
      padding: auto 20px;
      min-height: 100px;">

      <!-- left -->
      <div class="float-left">

        <!-- dot -->
        <div style="
          margin: auto;
          height: 15px;
          width: 15px;
          overflow: auto;
          border-radius: 50%;
          background-color: #3880ff"></div>

        <!-- line -->
        <div style="
          margin: auto;
          width: 5px;
          min-height: 50px;
          background-color: #EDEDED"></div>
      </div>

      <!-- right with text -->
      <div style="
        padding-left: 30px">
        2018-12-24 24:27
        <br>
        Waiting for confirmation
      </div>
    </div>

    adasd

  </div>

</ion-content>