<ion-header>
  <ion-toolbar>
    <ion-title>testNested</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <div style="width: 100%; margin: 0">
      <img src="assets\acuo-avatar\group-6@3x.png" alt="" style="max-height: 30px; float: left;">
      <h6>My Dispenser Name</h6>
    </div>
    <div style="width: 100%; margin: 0">
        <img src="assets\acuo-avatar\group-6@3x.png" alt="" style="max-height: 30px; float: left;">
        <h6>My Dispenser Name</h6>
      </div>
  </ion-item>

  <ion-item>
    <img src="assets\acuo-avatar\group-6@3x.png" alt="" style="max-width: 70px;">
    <ion-label>Awesome Label</ion-label>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>
      <div fixed class='fixedLabel' style="float: left;">dasda</div>
      <div fixed class='maxLabel'>My dispenser name</div>
    </ion-label>
    <br>
    <ion-label>
      <div fixed class='fixedLabel'style="float: left;">dasda</div>
      <div>My dispenser name</div>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label fixed class='fixedLabel'>190</ion-label>
    <ion-label>My Dispenser ID</ion-label>
  </ion-item>

  <img 
    src="assets\acuo-avatar\group-6@3x.png" 
    alt="acuo-icons1"
  >
</ion-content>